
<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Sentiment Analysis App</title>
        
    </head>

    <body>

        <header>
            <section class="top">
                <div class="container">
                    <h1 class="heading">Sentiment Analysis App</h1>
        </header>

        <main>
            <section class="form__input">
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <label id="label__input">Enter your text to analyse</label>
                    <textarea id = "name" required rows="3"  placeholder="Insert text to analyse here.."></textarea>
                    <input type="submit" name="" value="Analyse" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)"/>
                </form>
            </section>

            <section class="form__result">
               <div id = label__results><strong>Results</strong></div>
               <span id="msg"></span>
               <table id="analysis__table">
                <thead>
                <tr>
                  <th>Model</th>
                  <th>Agreement</th>
                  <th>Subjectivity</th>
                  <th>Confidence</th>
                  <th>Irony</th>
                </tr>
              </thead>
             <tbody></tbody>
               
                </table>
                
            </section>
        </main>
     
            <footer class="footer__page">
                <div class="ft-main">
                <div  class="ft-copyright-list ul-no-bullets">
                    <ul>
                     
                      <li>&copy; 2021 Copyright Inc.</li>
                    </ul>
                  </div>
                </div> 
               
        </footer>
        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
           </script>
    </body>
</html>

