<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Evaluate a News Article with NLP (Using Sentiment Analysis API)</title> 
    </head>
    <body>
        <header>
            <section class="top">
                <div class="container">
                    <h1 class="heading">Evaluate a News Article with NLP</h1>
				</div>
			</section>
		</header>
        <main>
            <section class="form__input">
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <label id="label__input">Enter a URL to analyse</label>
                    <textarea id="name" required rows="3" placeholder="Enter your URL here"></textarea>
                    <input type="submit" name="" value="Evaluate!" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)"/>
                </form>
            </section>
            <section class="form__result">
				<div id=label__results>
					<strong>Evaluation Results:</strong>
				</div>
				<span id="msg"></span>
				<table id="analysis__table">
					<thead>
						<tr>
							<th>Model:</th>
							<th>Agreement:</th>
							<th>Subjectivity:</th>
							<th>Confidence:</th>
							<th>Irony:</th>
						</tr>
					</thead>
					<tbody></tbody>
                </table>
            </section>
        </main>
		<footer class="footer__page">
			<div class="ft-main">
				<div  class="ft-copyright-list">
					Copyright &copy; 2021 | Naval Kishore Kandpal
				</div>
			</div>     
        </footer>
		
        <script>
            // To check that service workers are supported
            if ('serviceWorker' in navigator) {
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
	   </script>
	   
    </body>
</html>

