$bg_form: #eee2dc;
.footer__page {
    background-color: $bg_form;
    padding-top: 50px;
    padding-bottom: 10px;
}
.ft-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.ul-no-bullets {
    list-style-type: none;
}

.ft-copyright {
    background-color: rgb(177, 172, 172);
    color: rgb(158, 152, 152);
}
.ft-copyright-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.ft-copyright-list li {
    white-space: nowrap;
}
