$bg_form: #e1e1e1;

.footer__page {
    background-color: $bg_form;
    padding-top: 50px;
    padding-bottom: 10px;
}

.ft-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.ul-no-bullets {
    list-style-type: none;
}

.ft-copyright {
    background-color: #ff9c1a;
    color: #ffffff;
}

.ft-copyright-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.ft-copyright-list li {
    white-space: nowrap;
}
