$text_header: #4d4d4d;
$text_med: #000000;
$red: #ff1e42;
$darkred: #c3112d;
$orange: #f47421;

header {
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
}

.heading {
    font-weight: bold;
    font-size: 3rem;
    letter-spacing: 0.02em;
    padding: 0 0 20px 0;
}

.top {
    color: $text_header;
}
